@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* inter var - latin */
  .layout {
    /* 750px */
    max-width: 43.75rem;

    /* 1100px */
    max-width: 68.75rem;
    @apply w-11/12 mx-auto;
  }
  /* ::-webkit-scrollbar {
    width: 12px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  }
  
  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: #FE7A00;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  }
   */
  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #F95340;
  } */ 
  
}